{% extends 'mainapp/base.html' %}


{% block page_content %}
    <h2>Уверены, что хотите удалить пользователя {{ object.username }}
        {% if object.first_name %}
            ({{ object.first_name|title}}
            {% if object.last_name %}
                {{ object.last_name|title}}
            {% endif %})
        {% endif %}?
    </h2>

    <div class="user_delete">
        <form method="post">
            {% csrf_token %}
            <input class="button" type="submit" value="удалить">
            <a class="button" href="{% url 'admin_panel:index' %}">отмена</a>
        </form>
    </div>
{% endblock %}
