{% extends 'mainapp/base.html' %}


{% block page_content %}
    <h2>Уверены, что хотите удалить пользователя {{ object.username }}
        {% if object.first_name %}
            ({{ object.first_name|title}}
            {% if object.last_name %}
                {{ object.last_name|title}}
            {% endif %})
        {% endif %}?
    </h2>

    <div>
        <form method="post">
            {% csrf_token %}
            <div class="admin_button_panel">
                <input class="button" type="submit" value="удалить">
                <input class="button" type="button" value="отмена" onclick="location.href='{% url 'admin_panel:user_list' %}'">
            </div>
        </form>
    </div>
{% endblock %}
