<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            {{ page_title|title }}
        </title>
    {% endblock %}

    {% block css %}
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" >
    {% endblock %}

    {% block favicon %}
        <link href="{% static 'img/favicon.ico' %}" type="image/x-icon" rel="icon" />
        <link href="{% static 'img/favicon.ico' %}" type="image/x-icon" rel="shortcut icon" />
    {% endblock %}
</head>

<body>
<div class='container'>
    {% block site_name %}
        <div class="header">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
            <div class="site_name">
                <h1>Интернет-магазин IT-trade</h1>
            </div>
            {% include 'mainapp/includes/inc__main_menu.html' %}
        </div>
    {% endblock %}

    <div class="content">
        {% block page_content %}
        {% endblock %}
    </div>

    {% block footer %}
        <div class="footer">
            &copy; 2018-{% now "Y" %} «Все права защищены». Сегодня {% now "d/m/Y" %}
        </div>
    {% endblock %}
</div>
</body>

</html>