{% extends 'mainapp/base.html' %}
{% load static %}

{% block page_content %}
    <h2>Каталог товаров</h2>
    <div class="catalog_product_box">
        {% for item in product %}
        <div class="catalog_product" style="background-image: url(/media/{{ item.image }})">
            <a href="#">
                <div class="catalog_product_content">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.short_desc }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}