{% extends 'mainapp/base.html' %}

{% block page_content %}

{% include 'mainapp/includes/inc__main_menu.html' %}
    <h2>Контактная информация</h2>
    <div class="contact_left_side">
        <p>
            <script async="" charset="utf-8"
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae812fde5dbc0b531ada14d192089af3646d0d3611d0f6e630deb308b8f30cbdd&amp;width=330&amp;height=300&amp;lang=ru_RU&amp;scroll=true"
                    type="text/javascript"></script>
        </p>
    </div>
    <div class="contact_right_side">
        <p>Адрес: г.Санкт-Петербург, ул. Название улицы, д.345</p>
        <p>Телефон: 8(987)654-32-10</p>
        <p>Email: <a href="mailto:info@it-trade.ru">info@it-trade.ru</a></p>
        <hr>
        <div class="contact_form">
            <h3>Напишите нам</h3>
            <form action="">
                <fieldset>
                    <input class="contact_oneline_text" placeholder="Имя" size="60" type="text"><br>
                    <p></p>
                    <input class="contact_oneline_text" placeholder="Email" size="60" type="text"><br>
                    <p></p>
                    <input class="contact_oneline_text" placeholder="Тема сообщения" size="60" type="text"><br>
                    <p></p>
                    <input class="contact_bigline_text" placeholder="Текст сообщения" size="60" type="text"
                           style="height: 100px"><br>
                    <p></p>
                    <input type="reset" value="Очистить">
                    <input type="button" value="Отправить">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
