<div class="menu">
        <ul>
            <li>
                <a href="{% url 'main:index' %}"
                   class="{% if request.resolver_match.url_name == 'index' %}menu_active{%  endif %}">
                    Главная страница
                </a>
            </li>
            <li>
                <a href="{% url 'main:catalog' %}"
                   class="{% if request.resolver_match.url_name == 'catalog' %}menu_active{%  endif %}">
                    Каталог
                </a>
            </li>

            <li>
                <a href="{% url 'main:contacts' %}"
                   class="{% if request.resolver_match.url_name == 'contacts' %}menu_active{%  endif %}">
                    Контакты
                </a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a>{{ user.first_name|default:'Пользователь' }}</a>
                    <ul>
                        <li>
                            <a href="{% url 'auth:update' %}">
                                Профиль
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'basket:index' %}">
                                {% if basket %}
                                    Корзина<span>({{ basket.0.total_quantity }} шт)</span>
                                {% else %}
                                    Корзина
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'auth:logout' %}">
                                Выход
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'auth:login' %}">
                        Вход
                    </a>
                </li>
            {% endif %}

        </ul>
</div>