body {
	width: 1000px;
	margin: 0 auto;
	background: #f8f8f8;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
}
h4 {
    text-align: center;
}
/* Главное меню */
.menu {
    text-align: center;
    float: right;
	font-size: 12px;
    margin-right: 4px;
    margin-top: 29px;
}
.menu li {
    list-style: none;
    display: inline-block;
    background: #ccc;
    position: relative;
    width: 120px;
    border: 1px solid black;
}
.menu li:hover {
    background: #eee;
}
.menu li:active {
    background: #778899;
}
.menu li a {
    color: #222;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}
.menu li ul {
    display: none;
    position: absolute;
    padding-left: 0;
    width: 120px;
    padding-top: 3px;
}
.menu li:hover ul {
    display: block;
    left: 0;
}
/* Описание базового шаблона сайта*/
.header {
    border: 1px solid black;
    height: 160px;
    width: auto;
    background: #A9A9A9;
}
.logo {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}
.site_name {
    margin-left: auto;
    margin-right: auto;
}
.content {
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.greeting {
    text-align: justify;
	font-size: 20px;
}
.footer {
    border: 1px solid black;
    height: 30px;
    width: auto;
    background: #A9A9A9;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
/* Новые товары на главной странице */
.new_products_box {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new_products_link {
	text-decoration: none;
    color: #222;
}
.new_product {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid black;
	box-sizing: border-box;
	padding: 4px;
}
.description_short {
    text-align: center;
    height: 30px;
}
.new_products_img {
	height: 170px;
	width: 270px;
    margin: auto auto;
}
/* Страница каталога */
.catalog_product_box {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog_product {
    width: 280px;
    height: 200px;
    margin-bottom: 10px;
	border: 1px solid black;
}
.catalog_product a {
	text-decoration: none;
	color: #222;
}
.catalog_product_content {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.catalog_product:hover .catalog_product_content {
    display: flex;
}
/* Страница контактов */
.contact_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_left_side {
    float: left;
    text-align: center;
	box-sizing: border-box;
}
.contact_right_side {
    float: left;
    width: 450px;
}
.contact_oneline_text {
    color: firebrick;
    height: 16px;
    width: 100%;
    font-size: 16px;
}
.contact_bigline_text {
    color: dodgerblue;
    width: 100%;
    font-size: 12px;
}
.contact_form_buttons {
    display: flex;
    justify-content: space-between;
}
.contact_form_buttons input {
    width: 200px;
    height: 30px;
}
/* Страница входа в систему и Регистрации */
.login {
    border: 1px solid #eaeaea;
    width: 400px;
    margin: 50px auto;
    display: block;
}
.login .form-control[type="submit"] {
    margin: 10px auto;
}
.login_form {

}
.login_btn {
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
}
.login_btn a {
    border: 1px solid #eaeaea;
    color: #555;
    text-decoration: none;
}
.login_btn a:hover, .login_btn:hover {
    color: lightslategrey;
    text-decoration: none;
}
.auth_forms {
    text-align: center;
}
/* Страница корзины */
.basket-container {
    margin: 25px auto;
}
.basket-container .head {
    margin: 25px auto;
}
.basket-container button {
    margin-left: 25px;
    width: 150px;
    display: block;
    float: left;
}
.basket-container button a {
    text-decoration: none;
    color: #555;
}
.basket-container img {
    display: block;
    float: left;
    width: 150px;
    border-radius: 25px;
}
.basket-container input[type="submit"] {
    width: 150px;
    display: block;
    float: left;
    margin-bottom: 25px;
}
.basket-container .basket_summary {
    display: block;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #555;
}
.basket-list input[type="number"] {
    width: 3em;
    position: relative;
    display: block;
    float: left;
}
.basket-list span.category_name {
    margin-left: 2em;
    width: 5em;
    position: relative;
    display: block;
    float: left;
}
.basket-list span.product_name {
    margin-left: 1em;
    width: 8em;
    position: relative;
    display: block;
    float: left;
}
.basket-list span.product_price {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}
.basket-list span.product_cost {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}
.basket-list .basket_record {
    position: relative;
    display: block;
    height: 170px;
    float: none;
}
/* Страница товара */
.left_side {
    float: left;
    height: 600px;
    width: 450px;
    text-align: center;
}
.right_side {
    height: 600px;
    /*width: 400px;*/
}
.product_img {
    border: 2px solid #2F5A53;
}
.product_full_info {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
/* Красная кнопка */
.red_button {
    display: block;
    height: 71px;
    width: 210px;
    border-radius: 35px;
    background-color: #f44336;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    line-height: 70px;
    letter-spacing: 6px;
    margin: auto;
}
.red_button:hover {
    box-shadow: none;
}
.red_button:active {
    box-shadow: none;
    background-color: #d41306;
}