body {
	width: 1000px;
	margin: 0 auto;
	background: #f8f8f8;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
}
h4 {
    text-align: center;
}
/* Главное меню */
.menu {
    text-align: center;
    float: right;
	font-size: 12px;
    margin-right: 4px;
    margin-top: 29px;
}
.menu li {
    list-style: none;
    display: inline-block;
    background: #ccc;
    position: relative;
    width: 120px;
    border: 1px solid black;
}
.menu li:hover {
    background: #eee;
}
.menu li:active {
    background: #778899;
}
.menu li a {
    color: #222;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}
.menu li ul {
    display: none;
    position: absolute;
    padding-left: 0;
    width: 120px;
    padding-top: 3px;
}
.menu li:hover ul {
    display: block;
    left: 0;
}
/* Описание базового шаблона сайта*/
.header {
    border: 1px solid black;
    height: 160px;
    width: auto;
    background: #A9A9A9;
}
.logo {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}
.site_name {
    margin-left: auto;
    margin-right: auto;
}
.content {
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.greeting {
    text-align: justify;
	font-size: 20px;
}
.footer {
    border: 1px solid black;
    height: 30px;
    width: auto;
    background: #A9A9A9;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
/* Новые товары на главной странице */
.new_products_box {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new_products_link {
	text-decoration: none;
    color: #222;
}
.new_product {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid black;
	box-sizing: border-box;
	padding: 4px;
}
.description_short {
    text-align: center;
    height: 30px;
}
.new_products_img {
	height: 170px;
	width: 270px;
    margin: auto auto;
}
/* Страница каталога */
.catalog_product_box {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog_product {
    width: 280px;
    height: 200px;
    margin-bottom: 10px;
	border: 1px solid black;
}
.catalog_product a {
	text-decoration: none;
	color: #222;
}
.catalog_product_content {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.catalog_product:hover .catalog_product_content {
    display: flex;
}